@mixin clearfix {
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

@mixin GlobalButtonOne{
    font-size: 15px;
    padding: 10px 24px!important;
    line-height: 1;
    text-transform: capitalize;
    border: 1.9px solid $colorWhite;
    color: $colorWhite;
    transition: $transition;
    &:hover{
        color: $colorPrimary;
        background: $colorWhite!important;
    }
}
@mixin GlobalButtonTwo{
    font-size: 15px;
    padding: 10px 24px;
    line-height: 1;
    text-transform: capitalize;
    border: 1.9px solid $colorPrimary!important;
    background: $colorPrimary;
    color: $colorWhite;
    transition: $transition;
    display: inline-block;
    &:hover{
        color: $colorPrimary;
        background: transparent;
        border-color: $colorPrimary!important;
    }
}
@mixin GlobalButtonThree{
    font-size: 15px;
    padding: 10px;
    line-height: 1;
    text-transform: capitalize;
    border: 1.9px solid #ef1d26!important;
    background: #ef1d26;
    color: $colorWhite;
    transition: $transition;
    display: inline-block;
    border-radius: 0 20px 20px 0;
    &:hover{
        color: $colorWhite;
        background: #ef1d26;
        border-color: #ef1d26!important;
    }
}
