$colorPrimary: #062e92;
$colorBlack:#110B11;
$colorWhite: #ffffff;
$copyrightBG:#020202;
$footerBG:#545775;

$colorPurple:#92278f;
$colorRed:#e84b3a;
$colorYellow:#ffc000;
$colorOrange:#fc7f0c;
$colorBlue:#14b7f1;
$colorDarkRed:#ee257c;
$colorGreen:#47ab23;

$colorNavyBlue:#000080;
$colorSkyBlue:#87CEEB;
$colorBgBlue:#19649c;

$transition: 0.4s ease;

$boxShadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
