@keyframes ripple {
    0% {
    transform: scale(1);
    }
    75% {
        transform: scale(1.45);
        opacity: 1;
    }
    100% {
        transform: scale(1.75);
        opacity: 0;
    }
    }